/*Positioning goes here*/
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header,.header ul,.content,.footer,.hero,.hero-text{
    display: flex;
}

.header{
    justify-content: space-around;
    align-items: center;
}

.header ul{
    gap: 10px;
}

.hero{
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-text{
    flex-direction: column;
    gap: 10px;
}

.footer{
    align-items: center;
    justify-content: center;
}

.content{
    flex-direction: column;
}

/*Styling goes here*/

/*General styling*/
.header,.hero,.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-paragraph,.header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*Header styling*/
.header li{
    list-style-type: none;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

/*Hero styling*/

.hero-title{
    font-size: 48px;
    font-weight: bolder;
}

.footer{
    height: 50px;
}

.hero img{
    flex: 1 1 auto;
    width: 250px;
}

.hero-text{
    flex: 3;
}

.hero{
    padding: 20px 120px;
}

/*Button styling*/

button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F5;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}