/*Positioning goes here*/
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header,.header ul,.content,.footer,.hero,.hero-text,.card-container{
    display: flex;
}

.container{
    flex: 1;
}

.header,.card-container{
    justify-content: space-around;
    align-items: center;
}

.header ul,.card-container{
    gap: 10px;
}

.hero{
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-text{
    flex-direction: column;
    gap: 10px;
}

.info-title{
    padding-top: 30px;
    text-align: center;
}

.card{
    text-align: center;
}

.card-container{
    padding: 30px 10px;
    flex-wrap: wrap;
}

.footer{
    align-items: center;
    justify-content: center;
}

.content{
    flex-direction: column;
}

/*Styling goes here*/

/*General styling*/
.header,.hero,.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-paragraph,.header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*Header styling*/
.header li{
    list-style-type: none;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

/*Hero styling*/

.hero-title{
    font-size: 48px;
    font-weight: bolder;
}

.hero img{
    flex: 1 1 auto;
    width: 250px;
}

.hero-text{
    flex: 3;
}

.hero{
    padding: 20px 120px;
}

/*Info cards styling*/

.card img{
    width: 150px;
    height: 150px;
    border: #3882F5 solid;
    border-radius: 10px;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
}

/*Button styling*/

button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F5;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.footer{
    height: 50px;
}